#{extends 'main.html' /}
#{fbg.script /}
#{set title:'Home' /}

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">

<script type="text/javascript">
    function facebookLogin() {
        // get current login status from facebook.com
        FB.getLoginStatus(function(response) {
            if (response.session) {
                // logged in and connected user, someone you know
                window.location = "@{Application.facebookLogin()}";
            } else {
                window.location = "@{Application.logout()}";
            }
        });
    }
</script>

<fb:login-button perms="email,user_birthday,read_stream,publish_stream,friends_photos,read_friendlists" onlogin="facebookLogin();"></fb:login-button>

<br/>
#{if photoz}
#{list items:photoz, as:'photo'}


<img  height="400" width="400" src="${photo}" />

#{/list}
#{/if}


<br/>
#{if friendz}
#{list items:friendz, as:'friend'}
<a href="#" onClick="window.location.reload()">
<img src="${friend.profilePicUrl}"/> ${friend.name}
</a>
#{/list}
#{/if}
<br/>
#{if friends}
#{list items:friends, as:'friend'}
${friend}<br/>
#{/list}
#{/if}
<br/>
</html>